.container {
    max-height: 600px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 75px;
}

.boardSquare {
    border: 1px solid #ccc;
    min-height: 150px;
    min-width: 150px;
}